body{
    background-color: #F8F9FA;
    color: #858585;
}
.container{
    color: #858585;
}
.barnd-logo{
    background-color: #5D5FEF;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.hr{
    width: 90%;
    margin: 0 auto;
}
#categoris-container{
    display: flex;
    justify-content: space-between;
    color: #858585;
}
#categoris-container ul li{
    list-style: none;
    cursor: pointer;
}
#categoris-container ul{
    padding: 5px;
    font-weight: bold;
}
ul:hover{
    color: #5D5FEF;
    /* background-color: #9698ef; */
}
#detail-categorie button {
    background-color: #5D5FEF;
    color: whitesmoke;
    font-weight: bold;
}
